{
	skip_install_trust
	auto_https disable_redirects
	http_port {$HTTP_PORT}
	https_port {$HTTPS_PORT}
}

:{$HTTP_PORT} {
	handle / {
		rewrite * /web{uri}
		redir /web permanent
	}
	reverse_proxy localhost:3000
}

:{$HTTPS_PORT} {
	tls internal {
		on_demand
	}
	handle / {
		rewrite * /web{uri}
		redir /web permanent
	}
	reverse_proxy localhost:3000
}
